.vs/
bin/
obj/
packages/
/YeniKitapKirtasiyeWebApp/Controllers/HomeController.cs
/YeniKitapKirtasiyeWebApp/Controllers/HomeController.cs
.vs/YeniKitapKirtasiyeWebApp.slnx/v18/.json
/YeniKitapKirtasiyeWebApp/obj/Debug