.vs/
bin/
obj/
packages/
/YeniKitapKirtasiyeWebApp/Controllers/HomeController.cs
/YeniKitapKirtasiyeWebApp/Controllers/HomeController.cs
/.vs/YeniKitapKirtasiyeWebApp.slnx/v18/.json
/YeniKitapKirtasiyeWebApp/obj/Debug
/.vs/YeniKitapKirtasiyeWebApp.slnx/v18/.suo
/.vs/YeniKitapKirtasiyeWebApp.slnx/v18/DocumentLayout.backup.json
/.vs/YeniKitapKirtasiyeWebApp.slnx/v18/DocumentLayout.json

